.small-img {
  max-width: 560px;
  max-height: 230px;
  padding: 10px;
}

@media (min-width: 1400px) {
  .large-img {
    max-width: 660px !important;
    height: 460px !important;
    padding: 10px !important;
  }
}
