<script src="./js/booking.js"></script>
<div id="booking" class="container">
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <tr>
          <td>
            <div class="input-group input-group-lg">
              <input
                type="text"
                class="form-control"
                placeholder="Otel, Şehir, Bölge"
              />
            </div>
          </td>
          <td class="col-2"><input type="text" class="datepicker" /></td>
          <td class="col-3"><input type="text" class="datepicker" /></td>
          <td class="col-2"><button>ARA</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
