<script src="./js/booking.js"></script>
<link rel="stylesheet" href="../css/booking.css" />
<div id="booking" class="container">
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <tr>
          <td>
            <div class="input-group input-group-lg">
              <input
                type="text"
                class="form-control"
                placeholder="Otel, Şehir, Bölge"
              />
            </div>
          </td>
          <td class="col-2">
            <label for="checkIn" id="checkIn_label" style="cursor: pointer"
              ><div class="row">
                <div class="col">
                  <span class="checkInDay"></span>
                </div>
                <div class="col">
                  <span class="checkInMonth"></span>
                  <span class="checkInYear"></span>
                </div>
              </div> </label
            ><input style="opacity: 0; width: 0" id="checkIn" />
          </td>
          <td class="col-3">
            <label for="checkOut" id="checkIn_label" style="cursor: pointer"
              ><div class="row">
                <div class="col">
                  <span class="checkOutDay"></span>
                </div>
                <div class="col">
                  <span class="checkOutMonth"></span>
                  <span class="checkOutYear"></span>
                </div>
                <div class="col"><span class="numberOfNight">1</span> Gece</div>
              </div> </label
            ><input style="opacity: 0; width: 0" id="checkOut" />
          </td>
          <td class="col-2">
            <a
              data-bs-toggle="collapse"
              href="#collapseExample"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              1 Oda, <span class="visitor">1</span> Kişi
            </a>
            <button class="btn btn-warning">ARA</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-2 float-end collapse" id="collapseExample">
    <div class="card card-body d-flex flex-row">
      Kişi Sayısı
      <span
        class="fs-3 mx-2 bg-warning rounded-circle text-center d-flex flex-column justify-content-center align-items-center minus"
        style="width: 25px; height: 25px; cursor: pointer"
        >-</span
      >
      <span class="numberOfVisitor">1</span>
      <span
        class="fs-3 ms-2 bg-warning rounded-circle text-center d-flex flex-column justify-content-center align-items-center plus"
        style="width: 25px; height: 25px; cursor: pointer"
        >+</span
      >
    </div>
  </div>
</div>
