<script src="./js/booking.js"></script>
<link rel="stylesheet" href="../css/booking.css" />
<div id="booking" class="container">
  <div class="row d-flex justify-content-sm-between">
    <!-- input box -->
    <div class="col d-flex justify-content-center align-items-center border">
      <div class="input-group input-group-lg">
        <input
          type="text"
          class="form-control"
          placeholder="Otel, Şehir, Bölge"
        />
      </div>
    </div>

    <!-- input box -->
    <div class="col-12 d-lg-none my-1"></div>
    <!-- CheckIn -->
    <div
      class="col text-center d-flex justify-content-center align-items-center border"
    >
      <label for="checkIn" id="checkIn_label" style="cursor: pointer">
        <span class="checkInDay fw-bold"></span>
        <span class="checkInMonth fw-bold"></span>
        <span class="checkInYear fw-bold"></span> </label
      ><input style="opacity: 0; width: 0" id="checkIn" />
    </div>
    <!-- CheckIn -->
    <!-- CheckOut -->
    <div
      class="col text-center d-flex justify-content-center align-items-center border"
    >
      <label for="checkOut" id="checkOut_label" style="cursor: pointer">
        <span class="checkOutDay fw-bold"></span>
        <span class="checkOutMonth fw-bold"></span>
        <span class="checkOutYear fw-bold"></span> </label
      ><input style="opacity: 0; width: 0" id="checkOut" />
    </div>

    <div
      class="col d-flex text-warning bg-primary justify-content-center align-items-center border"
    >
      <span class="numberOfNight me-2">1</span> <span>Gece</span>
    </div>
    <!-- CheckOut -->
    <!-- Buttons -->
    <div
      class="col text-center d-flex justify-content-center align-items-center border flex-sm-column flex-lg-row"
    >
      <a
        data-bs-toggle="collapse"
        href="#collapseExample"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        1 Oda, <span class="visitor">1</span> Kişi
      </a>
      <button class="ms-2 btn btn-warning">ARA</button>
    </div>
    <!-- Buttons -->
  </div>
  <div
    class="col float-end collapse me-sm-5 me-md-0 border"
    id="collapseExample"
  >
    <div class="card card-body d-flex flex-row flex-wrap justify-content-end">
      Kişi Sayısı
      <span
        class="fs-3 mx-2 bg-warning rounded-circle text-center d-flex flex-column justify-content-center align-items-center minus"
        style="width: 25px; height: 25px; cursor: pointer"
        >-</span
      >
      <span class="numberOfVisitor">1</span>
      <span
        class="fs-3 ms-2 bg-warning rounded-circle text-center d-flex flex-column justify-content-center align-items-center plus"
        style="width: 25px; height: 25px; cursor: pointer"
        >+</span
      >
    </div>
  </div>
</div>
