<div id="extra-links" class="container">
  <div class="row d-flex flex-column">
    <div class="col fs-4 mb-3 mt-4 fw-bold">Popüler Temalar</div>
    <div class="col">
      <table class="table align-middle">
        <tr>
          <td>
            <a href="#" class="text-dark text-decoration-none"
              >Balayı Otelleri</a
            >
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none"
              >Termal Oteller</a
            >
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none">Spa Otelleri</a>
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none"
              >Bungalov Otelleri</a
            >
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none"
              >Kayak Otelleri</a
            >
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none"
              >Şehir Otelleri</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="text-dark text-decoration-none">Apart Oteller</a>
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none">Tatil Köyleri</a>
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none"
              >Aquapark Otelleri</a
            >
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none">Butik Oteller</a>
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none">İş Otelleri</a>
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none">Doğa Otelleri</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
