<div id="extra-links" class="container">
  <div class="row d-flex flex-column">
    <!-- Header -->
    <div
      class="col fs-4 mb-3 mt-4 fw-bold d-flex align-self-center justify-content-center align-self-md-start justify-content-md-start"
    >
      Popüler Temalar
    </div>
    <!-- Header -->
    <!-- Links -->
    <div class="col-12">
      <table class="table align-middle">
        <tr
          class="d-flex flex-wrap flex-md-nowrap align-self-center justify-content-center align-self-md-start justify-content-md-start"
        >
          <td>
            <a href="#" class="text-dark text-decoration-none"
              >Balayı Otelleri</a
            >
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none"
              >Termal Oteller</a
            >
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none">Spa Otelleri</a>
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none"
              >Bungalov Otelleri</a
            >
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none"
              >Kayak Otelleri</a
            >
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none"
              >Şehir Otelleri</a
            >
          </td>
        </tr>
        <tr
          class="d-flex flex-wrap flex-md-nowrap align-self-center justify-content-center align-self-md-start justify-content-md-start"
        >
          <td>
            <a href="#" class="text-dark text-decoration-none">Apart Oteller</a>
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none">Tatil Köyleri</a>
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none"
              >Aquapark Otelleri</a
            >
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none">Butik Oteller</a>
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none">İş Otelleri</a>
          </td>
          <td>
            <a href="#" class="text-dark text-decoration-none">Doğa Otelleri</a>
          </td>
        </tr>
      </table>
    </div>
    <!-- Links -->
  </div>
</div>
