<script src="./js/hotel-info.js"></script>
<div id="hotel-info" class="container">
  <div class="row">
    <div class="col fs-4 mb-3 mt-4" id="generalInfo">Genel Bilgiler</div>
  </div>
  <div class="row">
    <div class="col mb-3 fw-bold border p-3">Genel Tanıtım</div>
  </div>
  <div class="row border d-flex flex-column mb-3">
    <div class="col mb-3 fw-bold pt-3 pb-1">Genel Tanıtım</div>
    <div class="col pt-0">
      <p>
        Olimpos’taki tesis, Akdeniz’in muhteşem doğal ve tarihi güzellikleri ile
        çevrili bir atmosferde misafirlerini ağırlıyor. Denize 10-15 dakikalık
        yürüme mesafesindeki tesis, otantik mimarisi ve konumu ile huzurlu bir
        tatilin kapılarının aralıyor.
      </p>
    </div>
  </div>
  <div class="row border d-flex flex-column mb-3">
    <div class="col mb-3 fw-bold pt-3 pb-1">Genel Tanıtım</div>
    <div class="col pt-0">
      <p>
        Havalimanına uzaklığı yaklaşık 90 km’dir. Antalya'nın huzurlu ve sakin
        beldesi Olimpos'ta konuklarını ağırlayan Alaturca Pansiyon plaja 1,5 km
        mesafededir.. Etrafı dağlarla kuşatılmış, köklü uygarlıklara tanık olmuş
        ve bir dönem korsanlara ev sahipliği yapmış,sönmeyen ateşine efsaneler
        yazılmış Olympos 'ta kurulu olan Alaturka Pansiyon geniş bir alana
        yayılmış Akdeniz’e özgü bitki örtüsüyle çevrilmiş mükemmel bir tatil
        cennetidir. Doğa ile tarihin iç içe geçtiği, ormanın yeşilini,
        Akdeniz'in berraklığını cömertçe sundugu Olympos'ta portakal ağaçları
        arasında kurulmuştur pansiyonumuz. Huzurlu ve dinlendirici ortamı,
        otantik mimarisiyle siz değerli konuklarını beklemektedir.
      </p>
    </div>
  </div>
  <div class="row border d-flex flex-column mb-3">
    <div class="col mb-3 fw-bold pt-3 pb-1">Genel Uyarılar</div>
    <div class="col pt-0">
      <p>
        Konum, haritalar ve otelin genel alanlara mesafesi mümkün olduğunca
        bilgi sunmak içindir. Bu bilgilerin kesinliği konusunda herhangi bir
        sorumluluk kabul edilmez. En güncel tam yerleşim bilgileri ve
        yönlendirmelerini temin etmek için doğrudan otel ile iletişime geçilmesi
        yolcunun kendi sorumluluğundadır. Rezervasyonu yapan kişi otelde
        konaklayacak tüm kişilerin isimlerini doğru bir şekilde girmekle
        yükümlüdür. Rezervasyonunuzu yaparken doğru e-posta adresinin ve
        transferler için doğru cep telefonu numarasının girildiğinden emin olmak
        kişinin sorumluluğundadır.
      </p>
      <p>
        Tesislerin konsept dahilinde sunduğu hizmetler ve bazı hizmet
        alanlarının kullanımı, Covid-19 kapsamında çıkan genelgeler ve yasal
        düzenlemelere göre konaklama süresince sınırlandırılmış ya da kapatılmış
        olabilir. Bazı hizmetler ise kısmen veya tamamen sunulamayabilir.
      </p>
      <p>
        Rezervasyon yapan tüm misafirler; başta tesis, Sağlık Bakanlığı, yerel
        kurumlar/otoriteler olmak üzere, ilgili kurumların Covid-19 ile ilgili
        olarak aldığı tüm tedbirlere uymak ve bu tedbirler kapsamında
        kendilerinden talep edilen tüm bilgileri tesise vermek zorundadır.
        Tedbirlere uymayan misafirlere sunulacak bazı hizmetler
        sonlandırılabilir. Misafirlerin Covid-19 kapsamında alınan önlemlere
        uymaması halinde yaşanacak olumsuz durumlardan tesis ve ya Etstur
        sorumlu değildir.
      </p>
      <p class="more">
        Misafirlerin sağlığını korumak amacıyla ilgili kamu kurumları tarafından
        alınan Covid-19 önlemleri kapsamında; tesis, tanılı - temaslı veya
        kendisinden talep edilen bilgileri vermeyen müşterileri kabul
        etmeyebilir, izolasyon odasına alabilir, tesisten çıkışını isteyebilir
        veya ilgili kamu kurumlarının düzenlemeleri kapsamında gerekli görülen
        diğer işlemleri yapabilir.
      </p>
      <a href="#" class="showMore">Daha fazla göster</a>
    </div>
  </div>
</div>
