<link href="../css/hotel-environment.css" rel="stylesheet" />
<div id="hotel-environment" class="container">
  <div class="row">
    <div class="col fs-4 mb-3 mt-4" id="hotelEnv">Çevre ve Konum</div>
  </div>
  <div class="row border">
    <div class="col-4">
      <ul class="list-unstyled">
        <span class="d-flex align-items-center"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="orange"
            class="bi bi-geo-alt-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
            /></svg
          >Olimpos ( Olympos ) Örenyeri 1069 m</span
        >
        <li class="me-3">
          <span class="d-flex align-items-center"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="orange"
              class="bi bi-geo-alt-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
              /></svg
            >Cami 1716 m</span
          >
        </li>
        <li class="me-3">
          <span class="d-flex align-items-center"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="orange"
              class="bi bi-geo-alt-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
              /></svg
            >Olmypos Plajı 1886 m</span
          >
        </li>
        <li class="me-3">
          <span class="d-flex align-items-center"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="orange"
              class="bi bi-geo-alt-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
              /></svg
            >Çıralı İnfo Center 2112 m</span
          >
        </li>
        <li class="me-3">
          <span class="d-flex align-items-center"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="orange"
              class="bi bi-geo-alt-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
              /></svg
            >Caretta Caretta Plajı 2407 m</span
          >
        </li>
        <li>
          <button type="button" class="btn btn-light mt-2">
            Haritada Göster
          </button>
        </li>
      </ul>
    </div>
    <div class="col-8">
      <img
        src="https://www.ucuzabilet.com/resources/ub/img/hotel/google-map-placeholder.png"
        alt=""
        class="img-flud hotel-map-img p-2"
      />
    </div>
  </div>
</div>
