<div id="hotel-feature" class="container">
  <div class="row">
    <div class="col fs-4 mb-3" id="hotelFeatures">Tesis Olanakları</div>
  </div>
  <div class="row border d-flex flex-column">
    <div class="col mb-3 fw-bold">OTEL OLANAKLARI</div>
    <div class="col">
      <table class="table align-middle">
        <tr>
          <td>Klima</td>
          <td>Bahçe</td>
          <td>İnternet Bağlantısı - Kablosuz (Ücretsiz)</td>
          <td>Sigara İçme Alanı</td>
        </tr>
        <tr>
          <td>Restoran</td>
          <td>Tesise Ait Otopark</td>
          <td>Halk Plajı</td>
          <td>Döviz Alım / Satım</td>
        </tr>
        <tr>
          <td>Tur Danışma</td>
          <td>24 Saat Resepsiyon</td>
          <td>Ortak TV Alanı</td>
          <td>Teras</td>
        </tr>
        <tr>
          <td>
            Bar
            <span class="bg-warning p-1 text-muted rounded-pill">Ücretli</span>
          </td>
          <td>
            Havaalanı Servisi (Ücretli)
            <span class="bg-warning p-1 text-muted rounded-pill">Ücretli</span>
          </td>
          <td>
            Araba Kiralama Servisi
            <span class="bg-warning p-1 text-muted rounded-pill">Ücretli</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
