<link href="../css/img-banner.css" rel="stylesheet" />
<div id="img-banner" class="container">
  <div class="row d-flex">
    <div class="col-6">
      <img
        src="https://images.odamax.com/img/800x600/odamax/image/upload/kmv4bsnraabizlwifvxl.jpg"
        alt=""
        class="large-img"
      />
    </div>
    <div class="col-6 d-flex flex-column">
      <div class="row">
        <img
          src="https://images.odamax.com/img/800x600/odamax/image/upload/ho6u7gobtnzghgwxbbsy.jpg"
          alt=""
          class="small-img"
        />
      </div>
      <div class="row">
        <img
          src="https://images.odamax.com/img/800x600/odamax/image/upload/kxflf12j5dpbo4s38uub.jpg"
          alt=""
          class="small-img"
        />
      </div>
    </div>
  </div>
</div>
