<link href="../css/link-tree.css" rel="stylesheet" />
<div class="container bg-light p-0" style="height: 50px" id="link-tree">
  <div class="d-flex flex-row h-100 align-items-center">
    <ul class="d-flex m-0 p-3">
      <li class="me-3">
        <a class="text-decoration-none text-muted" href="#">Ucuzabilet.com</a>
      </li>
      <li class="me-3">
        <a class="text-decoration-none text-muted" href="#">Otel.com</a>
      </li>
      <li class="me-3">
        <a class="text-decoration-none text-muted" href="#">Antalya Otelleri</a>
      </li>
      <li class="me-3">
        <a class="text-decoration-none text-muted" href="#">Kumluca Otelleri</a>
      </li>
      <li class="me-3">
        <a class="text-decoration-none text-muted" href="#"
          >Olimpos Mevkii Otelleri</a
        >
      </li>
      <li class="me-3">
        <a class="text-decoration-none text-muted" href="#"
          >Alaturka Pansiyon</a
        >
      </li>
    </ul>
  </div>
</div>
