<div id="menu" class="container">
  <div class="row">
    <div class="col">
      <ul
        class="d-flex list-unstyled fs-5 justify-content-around align-items-center m-0"
      >
        <li>
          <a class="text-decoration-none text-dark" href="#generalInfo"
            >Genel Bilgiler</a
          >
        </li>
        <li>
          <a class="text-decoration-none text-dark" href="#hotelFeatures"
            >Otel Olanakları</a
          >
        </li>
        <li>
          <a class="text-decoration-none text-dark" href="#hotelEnv"
            >Çevre ve Konum</a
          >
        </li>
        <li>
          <a class="text-decoration-none text-dark" href="#hotelComments"
            >Yorumlar</a
          >
        </li>
      </ul>
    </div>
  </div>
  <hr class="my-4" />
</div>
